/*LESS to be converted to CSS*/
@import 'style.css';
.group:after {
  content: "";
  display: table;
  clear: both;
}
#dvLoading {
  background: #000 url("../images/loading.gif") no-repeat center center;
  height: 168px;
  width: 148px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  margin: -42px 0 0 -42px;
  border-radius: 6px;
  -moz-box-shadow: 1px 2px 2px #000, -1px -1px 1px #000;
  box-shadow: 1px 2px 2px #000, -1px -1px 1px #000;
}
.wrap ul {
  text-align: center;
}
.header {
  background: #247269;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNyUiIHN0b3AtY29sb3I9IiMyNDcyNjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiMwYTNmM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #247269 37%, #0a3f3b 88%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(37%, #247269), color-stop(88%, #0a3f3b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #247269 37%, #0a3f3b 88%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #247269 37%, #0a3f3b 88%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #247269 37%, #0a3f3b 88%);
  /* IE10+ */
  background: linear-gradient(to bottom, #247269 37%, #0a3f3b 88%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#247269', endColorstr='#0a3f3b', GradientType=0);
  /* IE6-8 */
}
.header-top {
  padding: 20px 0 30px;
  text-align: center;
}
.header-top .header-top-nav ul li {
  border-left: 1px solid rgba(85, 85, 85, 0.41);
  display: inline-block;
  float: left;
  width: 20%;
}
.header-top .header-top-nav ul li a {
  background: url("../images/top-nav-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 11px 0;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
.logo {
  text-align: center;
  vertical-align: middle;
  float: none;
}
.logo h1 {
  font-family: "Cinzel", Helvetica, Arial, sans-serif;
  font-size: 3.5rem;
  text-shadow: -1px 1px 3px #7cebff;
  line-height: 4rem;
}
.logo a {
  color: #D6D6D6;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.logo a:hover,
.logo a:focus {
  color: #71d6ea;
  text-decoration: none;
}
.logo h6 {
  font-family: "Playfair Display SC", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  text-shadow: -1px 1px 3px #7cebff;
}
.logo h4 {
  font-family: "Playfair Display SC", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: -0.8rem;
  text-shadow: -1px 1px 3px #7cebff;
}
.contact-info {
  float: none;
}
.contact-info p a {
  color: #71D6EA;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
.contact-info p a:hover {
  color: #eaeaea;
}
#banner {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  height: auto;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #7fc242;
}
#progressBar {
  width: 100%;
  background: #EDEDED;
}
.hotel-1-slide {
  position: relative;
}
.hotel-1-slide .hotel-1-slide-overlay-player {
  position: absolute;
  width: 100%;
  z-index: 4;
}
@media screen and (max-width: 480px) {
  div.table-thumb {
    width: 120px;
    height: 90px;
  }
}
@media screen and (min-width: 481px) {
  div.table-thumb {
    width: 200px;
    height: 112px;
  }
}
